@use '../../styles/variables' as *;

.assetsList {
    &__header {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        margin-bottom: 20px;
        padding: 10px 0;
    }

    &__headerItem {
        text-align: center;
    }

    &__headerText {
        font-size: $font-size-base;
        color: $text-color;
        @media (max-width: 600px) {
            font-size: $font-size-mobile;
        }
    }

    &__container {
        height: 500px;
        position: relative;
        overflow-y: auto;
    }

    &__itemsWrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    &__items {
        position: absolute;
        width: 100%;
    }
}