@use '../../styles/variables' as *;

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__title {
        text-transform: uppercase;
    }

    &__button {
        background-color: $primary-color;
        color: $button-text;
        padding: 10px 20px;
        border-radius: $border-radius;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: background-color $transition-speed, color $transition-speed;
    }
}