@use '../../styles/variables' as *;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    width: 100%;

    @media (max-width: 500px) {
        padding: 2px;
        gap: 10px;
        flex-direction: column;
    }

    &__title {
        text-transform: uppercase;
        font-size: $font-size-title;
    }

    &__button {
        @extend %base-button;
        max-width: 150px;
        background-color: $primary-color;
        padding: 20px 40px;

        &:hover {
            background-color: $hover-color;
        }

        &:disabled {
            background-color: $disabled-color;
        }
    }
}