@use '../../styles/variables' as *;

.addAssetForm {
    padding: 30px;

    &__input {
        background-color: $background-color;
        border-bottom: 1px solid $dark-color;
        color: $dark-gray;
        width: 100%;
        margin-bottom: 10px;
        padding: 4px 0;
    }

    &__itemsList {
        height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }

    &__item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

    &__asset {
        font-weight: normal;
        padding: 20px 0;
        font-size: 24px;
        text-align: center;
    }

    &__buttons {
        display: flex;
        gap: 10px;

        @media (max-width: 500px) {
            flex-direction: column;
        }
    }

    &__button {
        @extend %base-button;
        background-color: $primary-color;
        padding: 20px 40px;

        &:hover {
            background-color: $hover-color;
        }

        &:disabled {
            background-color: $disabled-color;
        }
    }
}